mastercard_user=mastercard_user
mastercard_pass=mastercard_pass
mastercard_database=mastercard_database
MASTERCARD_DB_HOST=localhost
MASTERCARD_DB_PORT=5434
MASTERCARD_DB_USER=mastercard_user
MASTERCARD_DB_PASSWORD=mastercard_pass
MASTERCARD_DB_NAME=mastercard_database
